<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- @author https://www.facebook.com/groups/mybatis/ -->
<mapper namespace="src.main.java.org.pre.mybatis.mapper.LargeDeptMapper">
    <!-- 리절트 맵 -->
    <resultMap id="largeDeptResultMap" type="src.main.java.org.pre.mybatis.domain.LargeDept">
        <result column="DEPTNAME" property="deptname" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="deptname != null and deptname != ''">
                AND DEPTNAME = #{deptname}
            </if>
        </where>
    </sql>

    <!-- 전체 건수 조회 매핑 구문 -->
    <select id="count" parameterType="src.main.java.org.pre.mybatis.domain.LargeDept" resultType="int">
        SELECT COUNT(*) 
        FROM LARGE_DEPT
        <include refid="whereSql" />
    </select>

    <!-- 목록 조회 매핑 구문 -->
    <select id="list" parameterType="src.main.java.org.pre.mybatis.domain.LargeDept" resultMap="largeDeptResultMap">
        SELECT * 
        FROM (
                  ,DEPTNAME
            FROM LARGE_DEPT
            <include refid="whereSql" />
        ) TB
        <where>
            <if test="itemStart > -1">
                RN BETWEEN (#{itemStart} + 1) 
                       AND (#{itemStart} + #{itemSizePerPage})
            </if>
        </where>
    </select>

    <!-- 조회 매핑 구문 -->
    <select id="select" parameterType="src.main.java.org.pre.mybatis.domain.LargeDept" resultMap="largeDeptResultMap">
        SELECT 
            DEPTNAME
        FROM LARGE_DEPT
        <include refid="whereSql" />
    </select>

    <!-- 등록 매핑 구문 -->
    <insert id="insert" parameterType="src.main.java.org.pre.mybatis.domain.LargeDept">
        INSERT INTO LARGE_DEPT (
            DEPTNAME
        )
        VALUES (
            #{deptname}
        )
    </insert>

    <!-- 수정 매핑 구문 -->
    <update id="update" parameterType="src.main.java.org.pre.mybatis.domain.LargeDept">
        UPDATE LARGE_DEPT
        <set>
            <if test="deptname != null">
                DEPTNAME = #{deptname},
            </if>
        </set>
    </update>

    <!-- 삭제 매핑 구문 -->
    <delete id="delete" parameterType="int">
        DELETE FROM LARGE_DEPT 
        <!-- TODO : WHERE -->
    </delete>
</mapper>